@mixin font($name, $weight, $style) {
  @font-face {
    font-family: 'FaktSoft';
    font-style: #{$style};
    font-weight: $weight;
    // prettier-ignore
    src:
      url('~@/assets/fonts/fakt/#{$name}/FaktSoft-#{$name}.woff'),
      url('~@/assets/fonts/fakt/#{$name}/FaktSoft-#{$name}.ttf'),
      url('~@/assets/fonts/fakt/#{$name}/FaktSoft-#{$name}.eot');
  }
}

@include font('Blond', 300, 'normal');
@include font('BlondItalic', 300, 'italic');
@include font('Normal', 400, 'normal');
@include font('NormalItalic', 400, 'italic');
@include font('Medium', 500, 'normal');
@include font('MediumItalic', 500, 'italic');
@include font('SemiBold', 600, 'normal');
@include font('SemiBold', 600, 'italic');
