$app-width: 1184px;
$font-family: 'FaktSoft', Helvetica, Arial, sans-serif;
$header-height--small: 56px;
$header-height: 80px;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 2;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-8: $spacing * 8;
$app-primary: #6a84ed;
$border: #e9ecf2;
$border-hover: #c5cada;
$text-primary: #494e6a;
$text-secondary: #727491;
$text-tertiary: #9b9cb1;
