$app-width: 1184px;
$header-height--small: 56px;
$header-height: 80px;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 2;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-8: $spacing * 8;
$app-primary: #6a84ed;
$text-primary: #494e6a;
$text-secondary: #727491;
